@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

a:link, a:visited{
    color: inherit;
}

:root {
    --res: calc(0.1 * 1vmin);
}


body{
    height: 100vh;
    background: rgb(0, 1, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    color: white;
}
h1{
    font-size: calc(31 * var(--res));
}
span{
    background: linear-gradient(to right, #002fff, #4fd5ff);
    background: -webkit-linear-gradient(left, #002fff, #4fd5ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: calc(34 * var(--res));
}


.a-container{
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(18 * var(--res));
}


.a-container a:nth-child(1){
    background: linear-gradient(to right, #122473, #4fd5ff);
    height: 50%;
    width: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    font-weight: 600;
}

.a-container a:nth-child(2){
    background: #525252;
    height: 50%;
    width: 45%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.wrapper{
    background-color: rgba(47, 0, 255, 0.071);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.text{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 20%;
    text-align: center;
}